<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Brutal Age</title>
</head>

<body>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      if (navigator.userAgent.toLowerCase().indexOf("iphone") > -1) {
        window.location.href = 'https://itunes.apple.com/us/app/id1156787368';
      }
    }, false)
  </script>
</body>

</html>